.page{
    width: 100%;
    height: 100%;
    background-color: #6d9886;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}